.navBarDiv{
    background-color: #F2C0A2;
    width: 100%;
    height: 150px;
}

.navBar{
    display: flex;
    justify-content: space-around;
}

.link{
    font-size: 40px;
}

.homeDiv{
    background-color: #F2E0D0;
    width: 100%;
    height: 450px;
}

.aboutDiv{
    background-color: #733D29;
    width: 100%;
    height: 350px;
}

.servicesDiv{
    background-color: #D9967E;
    width: 100%;
    height: 250px;
}

.contentHeaders{
    margin: 0;
    text-align: center;
}

.footerDiv{
    background-color: #D96F66;
    width: 100%;
    height: 100px;
}

.footer{
    font-size: 20px;
    text-align: center;
    margin: 0;
}