
.boxGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.box{
    border: 2px solid black;
    height: 250px;
    width: 250px;
}

.button{
    width: 250px;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

.purple{
    background-color: purple;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}